.sidebar-sub-category {
    padding-left: 20px ;
}

.sidebar-sub-category li{
    padding: 5px 0 !important;
    margin: 0% !important;
}

.sidebar-sub-category li a{
    font-size: 14px !important;
    color: gray !important;
}
.sidebar-sub-category li a:hover{
    color: #f48840 !important;
}

.read-more-button{
    font-size: 12px;
    border: 1px solid silver;
    background: silver;
    border-radius: 5px;
    padding: 0 10px;
    transition: .3s all ease-in-out;
}
.read-more-button:hover{
    color: #f48840 ;
    border: 1px solid #f48840;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.swal2-container.swal2-top-end.swal2-backdrop-show {
    z-index: 99999 !important;
}

.author-thumb img{
    width: 75px;
    border-radius: 50%;
}

.blog-posts .comments ul li .right-content{
    margin-right: 100px!important;
}